// ======================================================================
// Ratios
// ======================================================================

/// Minor Second Ratio
$minor-second: 1.067;

/// Major Second Ratio
$major-second: 1.125;

/// Minor Third Ratio
$minor-third: 1.2;

/// Miajor Third Ratio
$major-third: 1.25;

/// Perfect Forth Ratio
$perfect-fourth: 1.333;

/// Augmented Forth Ratio
$augmented-fourth: 1.414;

/// Perfect Fith Ratio
$perfect-fifth: 1.5;

/// Minor Sixth Ratio
$minor-sixth: 1.6;

/// Golden Section Ratio
$golden-section: 1.618;

/// Major Sixth Ratio
$major-sixth: 1.667;

/// Minor Seventh Ratio
$minor-seventh: 1.778;

/// Major Seventh Ratio
$major-seventh: 1.875;

/// Octave Ratio
$octave: 2;

/// Major Tenth Ratio
$major-tenth: 2.5;

/// Major Eleventh Ratio
$major-eleventh: 2.667;

/// Major Twelth Ratio
$major-twelfth: 3;

/// Double Octave Ratio
$double-octave: 4;
