// Validation
// ======================================================================

// Validation Class Names
// ----------------------------------------------------------------------

// Class name to use to change color of invalid elements / labels
$form-invalid-class: 'invalid';

// Class name to use to change color of valid elements / labels
$form-valid-class: 'valid';

// Class name to use to change color of required elements / labels
$form-required-class: 'required';


// Validation Theme
// ----------------------------------------------------------------------

$validation-default: (

  use-classes: true,

  color-required: $warning,
  color-valid: $positive,
  color-invalid: $negative,

  // You must put the valid/invalid/required classes
  // on labels for these to have an effect
  label-color-required: $warning,
  label-color-valid: $positive,
  label-color-invalid: $negative,

  border-required: 2px solid $warning,
  border-valid: 2px solid $positive,
  border-invalid: 2px solid $negative,

  focus-border-required: 2px solid darken($warning, 10%),
  focus-border-valid: 2px solid darken($positive, 10%),
  focus-border-invalid: 2px solid darken($negative, 10%),

);
